*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html, body{
    height: 100%;
    width: 100%;
}

main {
    min-height: 100vh;
    width: 100%;
}

#top {
    min-height: 60vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1514467911470-2b2492c64477?q=80&w=2892&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 50% 60%;
}

#overlay {
    position: relative;
    min-height: inherit;
    width: 100%;
    background-color: #00000080;
}

#text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20%;
    width: 100%;
    padding: 0 10vw;
    color: #fff;
}

#text h1 {
    font-size: 5vw;
    font-weight: 500;
}    

#text-right {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text-right p {
    font-size: 16px;
    width: 40%;
}    

#bottom {
    display: flex;
    min-height: 40vh;
    width: 100%;
    background-color: crimson;
}

#b1 {
    width: 20%;
    min-height: inherit;
    background-color: #fff;
    padding: 40px 60px;
}

#b1 p {
    margin-top: 20px;
    width: 40%;
}

#b2 {
    width: 30%;
    min-height: inherit;
    background-image: url(https://images.unsplash.com/photo-1425100599170-85ec4f00a6ee?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#b3 {
    width: 20%;
    min-height: inherit;
}   

#b3-top {
    min-height: 20vh;
    width: 100%;
    background-color: #FF3801;
    padding: 40px 50px;
}

#b3-top h4 {
    margin-bottom: 20px;
}

#b3-bottom {
    min-height: 20vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1542127186-6e67e7d5316f?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#b4 {
    width: 30%;
    min-height: inherit;
    background-color: #1F1F1F;
    color: #fff;
    padding: 40px 50px;
}

.notf {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.notf #photo {
    width: 50px;
    height: 50px;
    background-color: crimson;
    border-radius: 50%;
}

.notf p {
    width: 85%;
    font-size: 15px;
}


@media (max-width: 500px) {

    #overlay #text {
        flex-direction: column;
        align-items: flex-start;
    }

    #text h1 {
        font-size: 10vw;
    }

    #overlay #text #text-right {
        flex-direction: column;
        align-items: flex-start;
    }

    #overlay #text #text-right p {
        width: initial;
        margin-top: 20px;
    }

    #overlay #text #text-right #icons {
        margin-top: 30px;
    }


    #bottom {
        flex-direction: column;
        min-height: 20vh;
    }

    #b1 {
        width: 100%;
    }

    #b2 {
        width: 100%;
    }

    #b3 {
        width: 100%;
    }

    #b4 {
        width: 100%;
    }

    #b4 .notf p {
        margin-left: 20px;
    }

}