*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main img {
    position: relative;
    height: 690px;
    width: 500px;
    z-index: 1;
    object-fit: cover;
}

main #text {
    font-size: 25px;
    position: absolute;
    top: 15%;
    font-family: MonumentExtended-Regular;
    width: 50%;
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    line-height: 35px;
}

#scroll-div {
    position: absolute;
    top: 24%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#scroll-div::-webkit-scrollbar {
    display: none;
}

#scroll-div h1 {
    display: inline-block;
    font-size: 140px;
    font-family: MonumentExtended-Regular;
    text-transform: uppercase;
    margin-right: 40px;
    letter-spacing: 5px;
    animation-name: scroll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll-div2 {
    position: absolute;
    top: 44%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 2;
}

#scroll-div2::-webkit-scrollbar {
    display: none;
}

#scroll-div2 h1 {
    display: inline-block;
    font-size: 140px;
    font-family: MonumentExtended-Regular;
    text-transform: uppercase;
    margin-right: 40px;
    letter-spacing: 5px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    animation-name: scroll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll-div3 {
    position: absolute;
    top: 64%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#scroll-div3::-webkit-scrollbar {
    display: none;
}

#scroll-div3 h1 {
    display: inline-block;
    font-size: 140px;
    font-family: MonumentExtended-Regular;
    text-transform: uppercase;
    margin-right: 40px;
    letter-spacing: 5px;
    animation-name: scroll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

@keyframes scroll {
    0% {
        transform: translateX(calc(-100% - 45px));
    }
    100% {
        transform: translateX(0);
    }
}
